.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures

# Local files
build.properties
debug.keystore
release.keystore
fabric.properties
gradle.properties
com_crashlytics_export_strings.xml
