<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="pt.passarola"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"/>

    <application
        android:name="pt.passarola.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key"/>

        <activity
            android:name=".ui.BeersActivity"
            android:configChanges="orientation|screenLayout|screenSize"/>

        <activity
            android:name=".ui.PlacesActivity"
            android:configChanges="orientation|screenLayout|screenSize"/>

        <activity
            android:name=".ui.AboutActivity"
            android:configChanges="orientation|screenLayout|screenSize"/>

        <activity
            android:name=".ui.MapsActivity"
            android:configChanges="orientation|screenLayout|screenSize"/>

        <activity
            android:name=".ui.SplashActivity"
            android:configChanges="orientation|screenLayout|screenSize"
            android:label="@string/app_name"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="ce62609433e4cb0b44323227131e1d0141e8807a" />
    </application>

</manifest>
